* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Quicksand;
}
nav {
  background: #222;
  padding:5px 20px;
  height: 68px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.menu li{
  font-size: 16px;
  padding: 15px 5px;
}
.menu li a{
  display: block;
}
.logo a{
  font-size: 22px;
}
.button.secondary{
  border-bottom:1px #444 solid;
}
/* telefon/mobil menüüs mallara duyurulur */
.menu{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle{
  order:1;
}
  .button{
  order: 2;
}
.item{
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active{
  display: block;
}

.toggle{
  cursor:pointer;
}


.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,.bars::after{
  background: #999;
  content:"";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before{
  top:5px;
}
.bars::after{
  top:-5px;
}

/* Tablet Menüsü */
@media all and (min-width:468px){
  .menu{
    justify-content: center;
  }
  .logo{
    flex:1;
  }
  .button{
    width: auto;
    order:1;
    display: block;
  }
  .toogle{
    order: 2;
  }
  .button.secondary{
    border: 0;
  }
  .button a{
    text-decoration: none;
    padding: 7px 15px;
    border:1px solid white;
    border-radius:50em;
  }
  .button.secondary a{
    background: transparent;
  }
  .button a:hover{
    transition: all .25s;
  }
.button:not(.secondary) a:hover{
  background: black;
  border-color: white;
  color: #ddd;
  }
  .button.secondary a:hover{
    color: #ddd;
  }
}
@media all and (min-width: 768px){

  .item{
    position: relative;
    display: block;
    width: auto;
    text-decoration: none;
    left: -650px;
  }

  .item a:hover {
    color: #ddd;
  }

  .toggle{
    display: none;
  }
  .logo{
    order: 0;
  }
  .item{
    order: 1;
  }
  .button{
    order: 2;
  }
  .menu li{
    padding: 15px 10px;
  }
  .menu li.button{
    padding-right: 0;
  }
}
